
* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6e6;
}

/******************************** HEADER ********************************/

header{
    margin-bottom: 75px;

}

header nav {
    background: #D50000;
}


/******************************** FOOTER ********************************/

footer {
    background: #2C2D2F;
    color: white;
    clear: both;
    margin-top: 20px;
    text-align: center;
}

footer a{
    color: #D50000;
}

footer a:hover{
    color: dodgerblue;
    text-decoration: none;
}

